streamlit
python-dotenv
openai
langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
faiss-cpu
sentence-transformers
imageio-ffmpeg
openai-whisper
ffmpeg-python
moviepy
yt-dlp
pydub
requests
tiktoken